* {
    padding: 0;
    margin: 0;
}


/* Heading */
.hero {
    text-align: center;
    font-family: sans-serif;
    background-color: #FFF3E0;
    color: #333333;
    padding: 50px 245px;
}


/* Product Section */
.products-section {
    background-color: #FFF3E0;
    text-align: center;
    color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 25px;
    font-family: sans-serif;
}

.products{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.product{
    padding: 25px;
}

.product img {
    height: 300px;
    width: 300px;
    border-radius: 10px;
    border: solid #333333 2px;
}

.product h4 {
    padding-top: 15px;
    font-size: 20px;
}

.product h4 a{
    text-decoration: none;
    color: #333333;
}

.product h4 a:hover{
    color: #264866;
}

.product p {
    opacity: 0.5;
}

.button {
    position: relative;
    width: 300px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 1px solid #A0522D;
    border-radius: 10px;
    background-color: #A0522D;
}

.button,
.button__icon,
.button__text {
    transition: all 0.3s;
}

.button .button__text {
    transform: translateX(80px);
    color: #fff;
    font-weight: 600;
}

.button .button__icon {
    position: absolute;
    transform: translateX(260px);
    height: 100%;
    width: 39px;
    background-color: #A0522D;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.button .svg {
    width: 30px;
    stroke: #fff;
}

.button:hover {
    background: #A0522D;
}

.button:hover .button__text {
    color: transparent;
}

.button:hover .button__icon {
    width: 298px;
    transform: translateX(0);
}

.button:active .button__icon {
    background-color: #A0522D;
}

.button:active {
    border: 1px solid #A0522D;
}


@media (max-width: 1024px) {
    .hero {
        padding: 50px 100px;
    }
}

@media (max-width: 768px) {
    .hero {
        padding: 40px 50px 30px;
    }
}

@media (max-width: 480px) {
    .hero {
        padding: 40px 20px 20px;
    }
}



/* Navbar Section */
.navbar{
    top: 0 !important;
    position: sticky !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px !important;
    font-family: sans-serif;
    font-size: 20px;
    color: white;
    background-color: #264866;
    z-index: 1000;
}

.logo img{
    height: 70px;
    width: 210px;
}

.hamburger-btn i,
.close-button i{
    color: white;
    font-size: 24px;
}

.navbar .offcanvas{
    background-color: #264866;
    color: white;
}

.navbar .menu{
    list-style: none;
    padding: 0;
}

.navbar .menu li{
    padding: 11px 32px;
}

.navbar .menu a{
    text-decoration: none;
    color: white;
}

.navbar .nav{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.navbar .logo{
    padding-right: 12px;
}

.nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    list-style: none;
    margin: auto;
    padding: 0;
    gap: 40px;
}

.nav li{
    padding: 10px;
}

.nav a{
    text-decoration: none;
    color: white;
    transition: 0.2s ease-in-out;
}

.nav a:hover{
    color: grey;
}


/* Whatsapp */
.whatsapp {
    position: fixed;
    right: 3vh;
    bottom: 3vh;
    height: 60px;
    width: 60px;
    background-color: #25D366;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.whatsapp img {
    height: 50px;
    width: 50px;
}

.whatsapp a {
    height: 50px;
    width: 50px;
}


/* Footer */
.footer {
    background-color: #333333;
    color: white;
    padding: 40px 20px;
    font-family: sans-serif;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px 120px;
    flex-wrap: wrap;
}

.footer-column {
    flex: 1;
    text-align: center;
    min-width: 250px;
    margin-bottom: 50px;
}

.footer-column h4 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #ffffff;
}

.footer-column p,
.footer-column ul {
    font-size: 14px;
    line-height: 1.6;
    color: #ddd;
    margin: 0;
}

.footer-column a {
    text-decoration: none;
    color: #ffffff;
}

.footer-column a:hover {
    text-decoration: underline;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-column li {
    margin-bottom: 5px;
}

.footer-column ul li a {
    display: inline-block;
    transition: color 0.3s;
}

.footer-column ul li a:hover {
    color: white;
}

.icons1 {
    margin-top: 10px;
    text-align: center;
}

.icons1 a {
    margin: 0 5px;
    color: #ffffff;
    font-size: 18px;
    transition: color 0.3s ease-in-out;
}

.icons1 a:hover {
    color: #264866;
}


/* Navbar Section */
@media (min-width: 1025px) {
    .hamburger-btn,
    .offcanvas {
        display: none !important;
    }
}

@media (max-width: 1024px) {
    .navbar .nav {
        display: none;
    }

    .hamburger-btn {
        display: block;
    }

    .navbar .logo {
        padding-right: 0px;
    }
}

@media (max-width: 768px) {
    .offcanvas {
        width: 300px !important;
    }
}

@media (max-width: 480px) {
    .navbar {
        justify-content: space-between;
        padding: 10px 15px;
    }

    .offcanvas {
        width: 250px !important;
    }
}


/* Footer Section */
@media (max-width: 991px) {
    .footer .container {
        flex-direction: column;
        align-items: center;
        padding: 40px 20px;
    }

    .footer-column {
        text-align: center;
        width: 100%;
        margin-bottom: 40px;
    }
}

@media (max-width: 600px) {
    .footer {
        text-align: center;
    }

    .footer-column h4 {
        font-size: 16px;
    }

    .footer-column p,
    .footer-column ul {
        font-size: 12px;
    }

    .icons1 a {
        font-size: 16px;
    }
}

@media (max-width: 1285.50px){
    .feature-features{
        flex-direction: column;
    }
}


.product-page{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: #FFF3E0;
}

.product-page img{
    width: 400px;
    height: auto;
}

.product-page h3{
    padding-bottom: 20px;
}

.product-page p{
    border: solid #333333 2px;
    padding: 5px;
    width: 500px;
}